<div class="about">
    <div class="title">
        <h1 class="title_h1"><strong>История Rust</strong></h1>
        <p><strong>от хобби до самого популярного ЯП по данным StackOverflow</strong></p>
    </div>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <h1><strong><a>Личный проект (2006–2010)</a></strong></h1>
    <br>
    <br>
    <p>
        Грэйдон Хор начал разработку Rust в 2006 году – в то время он был сотрудником Mozilla и занимался проектом в свободное от работы время. По словам Грэйдона, язык получил название в честь грибов семейства ржавчинные, поскольку те являются «распределёнными организмами», не имеющими «единой точки отказа», и обладают исключительной живучестью. Такие грибы имеют пять стадий жизненного цикла и быстро прорастают. Хор решил, что это хорошая аналогия для ЯП, сфокусированного на безопасности и скорости работы.
    </p>
        <br>
        <div class="rust_bord">
            <img src="../../../assets/rust_text.jpg" class="rust">
        </div>
    <p>
        <br>
        Занимаясь языком, Грэйдон установил определенные правила. Он отмечал, что в первую очередь необходимо уделять внимание семантике языка, а работа над синтаксисом — это последнее дело. Поэтому в ранней реализации Rust ключевые слова были не длиннее пяти символов — язык был «кратким» и использовал такие операторы, как log, ret и fn. Как отмечает Стив Клабник, со временем это ограничение было снято: часть ключевых слов «удлинили», например, ret превратился в return, а часть заменили совсем.
        <br>
        <br>
        Также за время эволюции часть концепций и ключевых слов языка была убрана. Когда над языком работал Грэйдон, Rust был объектно-ориентированным и использовал оператор obj для описания объектов. Сейчас как таковое ООП языком не поддерживается, но Rust дает возможность реализовать многие его понятия с помощью абстракций.
        <br>
        <br>
        Rust также работал с функциями параметрического полиморфизма. Концепции обобщенного программирования в языке сохранились и сейчас, однако десять лет назад для обозначения типа параметров использовались квадратные скобки.
        <br>
        <br>
        Самостоятельно над Rust Грэйдон работал на протяжении четырех лет. За это время ему удалось воплотить в жизнь примерно 90% задуманных функций (часть из которых имела довольно грубую реализацию). Среда для выполнения кода была завершена на 70%. Всего за это время Хор написал 38 тыс. строк кода для компилятора на OCaml.
    </p>
    <br>
    <br>
    <br>
    <h1><strong><a>Переход к Mozilla (2010–2012)</a></strong></h1>
    <br>
    <br>
    <div class="quote">
        <em>
        <q>Я не считаю, что у языка должны быть какие-то главные особенности.
        <br>
        <br>
        Он должен состоять из набора понятных и надежных модулей, которые хорошо «работают» в комбинации друг с другом
        </q>    
        </em>
        <br>
        <br>
        <strong>— Грэйдон Хор (Graydon Hoare), разработчик Rust</strong>
    </div>
    <br>
    <br>
    <p>
        По прошествии четырех лет, Грэйдон решил показать свой прототип менеджеру в Mozilla. В компании проявили интерес к проекту, поскольку искали инструмент для перестройки стека браузера на более простых технологиях, чем C++. Поэтому в компании создали команду (во главе с Грэйдоном) для работы над Rust, который стал основой браузерного движка Servo.
        <br>
        <br>
        Тогда движок Mozilla не мог полноценно работать с мультиядерными системами, поскольку имел однопоточные схемы обработки контента. Например, однопоточными были функции формирования содержимого окна и запуска JavaScript. Rust позволил разделить код рендеринга на мини-задачи, выполняемые параллельно и экономящие ресурсы центрального процессора.
        <br>
        <br>
        Кроме ускорения работы за счет распараллеливания операций, Rust позволил повысить защищенность браузера. На тот момент Firefox был реализован на C++ и содержал 4,5 млн строк кода. C++ — это «точный» язык программирования, требующий повышенного внимания к деталям, поэтому ошибки программистов могли приводить к возникновению серьезных уязвимостей. Задачей Rust стало снижение влияния человеческого фактора с помощью компилятора.
    </p>
    <br>
    <div class="rust_bord">
        <img src="../../../assets/about_text.png" class="rust">
    </div>
    <br>
    <p>
        В 2010 году разработчики языка сменили используемый до этого компилятор OCaml на компилятор, написанный на Rust. В 2011 году Грэйдон опубликовал сообщение о том, что компилятор сумел успешно «собрать» сам себя, а в 2012 команда Rust объявила о релизе альфа-версии компилятора — его документация была не полной, а скорость создания билда оказалась далека от идеальной, однако он уже поддерживал большинство функций языка и кросс-компиляцию.
    </p>
    <br>
    <br>
    <br>
    <h1><strong><a>Годы typesystem (2012–2014)</a></strong></h1>
    <br>
    <br>
    <div class="quote">
        <em>
        <q>Наша целевая аудитория — разочарованные разработчики C++</q>    
        </em>
        <br>
        <br>
        <strong>— Грэйдон Хор (Graydon Hoare), разработчик Rust</strong>
    </div>
    <br>
    <br>
    <p>
        В этот момент Грэйдон отошел от работы над Rust и переключился на другие проекты. Как рассказывает Стив Клабник, после этого система управления стала более «распределенной». Была сформирована федеративная структура, в которой за изменения, вносимые в разные части проекта, отвечала отдельная группа разработчиков.
        <br>
        <br>
        Команда продолжила расти, и в ней стали появляться люди, разбирающиеся в сложных системах типов. Поэтому началось активное развитие typesystem, и все больше аспектов языка выносились в библиотеки.
        <br>
        <br>
        Например, на ранних этапах Rust был реализован «сборщик мусора» (GC — Garbage Collector), который Грэйдон внедрил для повышения защищенности памяти. Однако потом разработчики пришли к выводу, что они могут обеспечить тот же уровень надежности с помощью системы типов, и от GC отказались.
        <br>
        <br>
        Это решение также сказалось на системе указателей, используемой в Rust. До удаления «сборщика мусора» в языке было три основных указателя:
    </p>
    <br>
    <ul class="links">
        <li><span><em>@ (указатель, <q>собранный</q> GC)</em></span></li>
        <li><span><em>~ (уникальный указатель)</em></span></li>
        <li><span><em>& (заимствованный указатель)</em></span></li>
    </ul>
    <br>
    <p>
        После удаления GC система указателей претерпела изменения и приняла такой вид:
    </p>
    <br>
    <ul class="links">
        <li><span><em>Box (уникальный указатель)</em></span></li>
        <li><span><em>& (заимствованный указатель, который назвали <q>ссылкой</q>)</em></span></li>
    </ul>
    <br>
    <p>
        На этом этапе разработки языка программирования также было сделано множество улучшений, не связанных с typesystem. Например, велась работа над менеджером пакетов Cargo и онлайн-репозиторием Crates.io. Разработчики добавили возможность кастомизации настроек компилятора, что упростило переход на Rust с других языков. «Новичкам» не приходилось выяснять, для чего нужен тот или иной флаг при компиляции. Кстати, команды для менеджера пакетов Cargo вы также можете найти в презентации Стива Клабника.
        <br>
        <br>
        Период с 2012 по 2014 год — это время, когда сообщество Rust начало обретать форму. В нем образовалось три больших «лагеря»: пользователи C++, пользователи скриптовых языков и функциональные программисты. Их экспертиза повлияла на язык — постепенно он стал сочетать в себе парадигмы функционального и процедурного программирования.
        <br>
        <br>
        В марте 2014 года также был сформирован RFC-процесс, который использовался для представления значимых изменений в языке. Решение строилось по образу и подобию Python PEP, и сейчас в нем сделано 3 тыс. коммитов. Причем в RFC попадает любое изменение, даже вносимое разработчиками. По правилам команды Rust, никто не может вносить крупные изменения, не обсудив решение с сообществом.
    </p>
    <br>
    <br>
    <br>
    <h1><strong><a>Релиз (2015)</a></strong></h1>
    <br>
    <br>
    <div class="quote">
        <em>
        <q>Мы не знаем наверняка, что из этого получится</q>    
        </em>
        <br>
        <br>
        <strong>— Грэйдон Хор (Graydon Hoare), разработчик Rust</strong>
    </div>
    <br>
    <br>
    <p>
        В начале 2015 года была выпущена версия Rust 1.0 Alpha. В ней стабилизировали ядро языка, развили систему макросов, и, наконец, закрепили за целочисленными типами int и uint названия isize и usize. В начале второго квартала того же года Rust 1.0 перешел в бету — к этому моменту репозиторий crates.io имел 1700 крэйтов (структурная единица компиляции), а количество скачиваний из репозитория превысило один миллион.
    </p>
    <br>
    <div class="rust_bord">
        <img src="../../../assets/rust_relise.jpg" class="rust">
    </div>
    <br>
    <p>
        В мае 2015 года состоялся официальный релиз — Rust 1.0. Это ознаменовало начало стабильности. С этого момента все вносимые изменения должны были иметь обратную совместимость, что позволило использовать Rust в реальных проектах. Он начал находить применение в таких сферах, как game dev, веб-разработка и разработка операционных систем.
    </p>
    <br>
    <br>
    <br>
    <h1><strong><a>Переход в продакшн (май 2016)</a></strong></h1>
    <br>
    <br>
    <div class="quote">
        <em>
        <q>Если язык хорош лишь в чем-то одном, то это — провал</q>    
        </em>
        <br>
        <br>
        <strong>— Грэйдон Хор (Graydon Hoare), разработчик Rust</strong>
    </div>
    <br>
    <br>
    <p>
        В начале 2015 года была выпущена версия Rust 1.0 Alpha. В ней стабилизировали ядро языка, развили систему макросов, и, наконец, закрепили за целочисленными типами int и uint названия isize и usize. В начале второго квартала того же года Rust 1.0 перешел в бету — к этому моменту репозиторий crates.io имел 1700 крэйтов (структурная единица компиляции), а количество скачиваний из репозитория превысило один миллион.
    </p>
    <br>
    <div class="rust_bord">
        <img src="../../../assets/survey.jpg" class="rust">
    </div>
    <br>
    <p>
        Один из резидентов Hacker News назвал главными достоинствами языка прозрачность и простоту документации. Другие пользователи также отмечали открытость и доброжелательность Rust-сообщества, которое всегда готово помочь с изучением особенностей ЯП.
        <br>
        <br>
        При этом многие разработчики решают продолжить работу с этим языком из-за его механизмов безопасности. <strong>Как сказал один из пользователей Reddit:</strong><em><q> Программирование на Rust — это как паркур со страховкой и в защите; иногда это выглядит странно, но вы можете делать многие трюки, не боясь сломать себе что-нибудь</q></em>.
    </p>
</div>