<div class="main">
    <div class="row">
        <div class="col-md-6 title">
            <h1>
                <strong>Rust</strong>
            </h1>
            <p class="origin">
                Язык, позволяющий каждому <br>
                создавать надёжное и эффективное <br>
                программное обеспечение
            </p>
        </div>
        <div class="col-md-6 icon">
            <img src="../../../assets/rust.png">
        </div>
    </div>
    <p class="clone">
        Язык, позволяющий каждому создавать надёжное и эффективное программное обеспечение
    </p>
    <div class="clone_img">
        <img src="../../../assets/rust.png">
    </div>
    <hr>
</div>

<div class="main2">
    <div class="text">
        <h1>
           <a><strong>Владей и заимствуй</strong></a>
        </h1>
        <p>
            Долгое время Rust позиционировался исключительно как язык для системного программирования. Попытки использовать Rust для высокоуровневых прикладных задач зачастую вызывали усмешку у значительной части сообщества: зачем использовать инструмент в том качестве, на которое он не рассчитан? Какая польза от возни с типами и анализатором заимствований (borrow checker), если есть Python и Java со сборкой мусора? Но другая часть сообщества всегда видела потенциал Rust именно как языка прикладного, и даже находила его удобным в использовании для быстрого прототипирования — во многом благодаря его особенностям, а не вопреки им.
            <br>
            <br>
            Шло время, и сейчас использование Rust для высокоуровневых прикладных задач вызывает куда меньше споров, чем раньше. Сообщество накопило практический опыт, и практика показала, что у Rust есть свои преимущества в прикладной сфере.
            <br>
            <br>
           <strong>Мы рассмотрим несколько примеров того, как Rust справляется с проблемами других языков и его недостатки, которые тоже присутствуют.</strong>
        </p>
    </div>
</div>

<div class="main3">
    <div class="text2">
        <div class="space">
            <h1>
                <a><strong>Наследник динамически типизированных языков</strong></a>
            </h1>
        </div>
        <p>
            Споры между программистами, которые предпочитают динамическую типизацию статической, вероятно, будут продолжаться еще десятилетия, но трудно спорить о преимуществах статических типов.
            <br>
            <br>
            Развитие таких языков, как TypeScript и наличие таких возможностей, как аннотации типов в Python, свидетельствуют о том, что люди разочаровались в текущем состоянии динамической типизации. Статически типизированные языки позволяют использовать ограничения на данные и их поведение, проверяемые компилятором, что снижает когнитивные издержки и недопонимание.
            <br>
            <br>
            Однако не все способы статической типизации  эквивалентны. Многие статически типизированные языки поддерживают концепцию NULL. Это значит, что любое значение может отсутствовать, таким образом создавая второй возможный тип для каждого типа. Как Haskell и некоторые другие современные языки программирования, Rust реализует эту возможность с помощью типа optional, и компилятор требует, чтобы вы указывали case None. Это предотвращает возникновение ошибки: TypeError: Cannot read property ‘foo’ of null во время выполнения программы, вместо этого ошибка появляется ещё во время компиляции, и вы можете устранить её до того, как пользователь ее увидит.
        </p>
        <br>
        <br>
        <br>
        <br>
        <h1>
            <a><strong>Наследник языков со сборщиком мусора</strong></a>
        </h1>
        <p>
            Одним из самых больших преимуществ использования системного языка программирования является возможность контролировать низкоуровневые детали. Rust позволяет выбирать между хранением данных в стеке или в куче и во время компиляции определяет что память больше не нужна и может быть очищена. Это позволяет эффективно использовать память. Tilde — один из первых пользователей Rust в своем продукте Skylight, обнаружил, что им удалось сократить использование памяти с 5 ГБ до 50 МБ, переписав некоторые конечные точки HTTP на Java в Rust. Такая экономия становится особенно значимой, когда облачные провайдеры меняют цены на дополнительную память.
            <br>
            <br>
            Без необходимости постоянной работы сборщика мусора проекты Rust хорошо подходят для использования в качестве библиотек другими языками программирования через интерфейсы с внешними функциями. Это позволяет существующим проектам заменять критически важные для производительности части быстрым кодом на Rust без рисков для безопасности памяти, присущих другим системным языкам программирования. Некоторые проекты даже были постепенно переписаны в Rust с использованием этих методов.
            <br>
            <br>
            Обладая прямым доступом к оборудованию и памяти, Rust является идеальным языком для разработки встраиваемых и bare-metal систем. Вы можете писать код чрезвычайно низкого уровня, например ядра операционной системы или приложения для микроконтроллеров. Основные типы и функции Rust, а также переиспользуемый библиотечный код отлично работают в этих особенно сложных средах.
        </p>
        <br>
        <br>
        <br>
        <br>
        <div class="space">
            <h1>
                <a><strong>Наследник языков системного программирования</strong></a>
            </h1>
        </div>
        <p>
            Большинство людей рассматривают Rust как альтернативу таким языкам системного программирования, как Си или C++. Самое большое преимущество Rust — это проверка заимствований. Это часть компилятора, ответственная за то, чтобы ссылки не переживали данные, на которые они ссылаются, это помогает устранить целые классы ошибок, вызванных небезопасным использованием памяти.
            <br>
            <br>
            В отличие от многих существующих языков системного программирования, Rust не требует, чтобы вы проводили все свое время, погружаясь в мельчайшие детали. Rust стремится иметь как можно больше абстракций с нулевой стоимостью — абстракций, которые столь же эффективны, как и эквивалентный рукописный код.
            <br>
            <br>
            В тех случаях когда безопасного Rust недостаточно мы можете использовать небезопасный Rust. Это даёт дополнительные возможности, однако вы сами должны следить за тем, что код безопасен. Этот код затем может быть заключен в абстракции более высокого уровня, которые гарантируют, что все виды использования абстракции безопасны.
            <br>
            <br>
            Использование небезопасного Rust должно быть обдуманным решением, поскольку его правильное использование требует столько же размышлений и осторожности, как и в любом другом языке, в котором вы несете ответственность за предотвращение неопределенного поведения. Сведение к минимуму небезопасного кода — лучший способ свести к минимуму возможности сбоев и уязвимостей из-за небезопасности памяти.
            <br>
            <br>
            Языки системного программирования подразумевают, что они будут эффективно существовать вечно. В то время как некоторые современные разработки не требуют такого срока службы, многие компании хотят знать, что их фундаментальная база кода будет пригодна для использования в обозримом будущем. Rust признает это и принял сознательные дизайнерские решения, касающиеся обратной совместимости и стабильности; это язык, разработанный на ближайшие 40 лет.
        </p>
        <br>
        <br>
        <br>
        <br>
        <h1>
            <a><strong>Экосистема Rust</strong></a>
        </h1>
        <p>
            Rust больше, чем спецификация языка и компилятор; многие аспекты создания и поддержки программного обеспечения промышленного качества рассматриваются как объекты первого класса. С помощью rustup можно установить несколько параллельных цепочек инструментов Rust и управлять ими. Rust поставляются с Cargo — инструментом командной строки для управления зависимостями, запуска тестов, создания документации и многого другого. Поскольку зависимости, тесты и документация доступны по умолчанию, их использование широко распространено. crates.io — это сайт сообщества для обмена и поиска библиотек Rust. Любая библиотека, опубликованная в crates.io будет иметь свою документацию на docs.rs.
            <br>
            <br>
            Кроме встроенных инструментов, коммьюнити Rust создало множество средств разработки. Бенчмаркинг, анализ и тестирование на основе свойств — все это легко легко использовать в проектах. Дополнительные линты компилятора доступны в Clippy, а автоматическое форматирование обеспечивается rustfmt. Поддержка IDE хороша и с каждым днем становится всё более эффективной. Rust имеет яркое, гостеприимное сообщество. Существует несколько официальных и неофициальных способов получить помощь, таких как чат, форум, сабреддит Rust и, конечно же, Stack Overflow.
            <br>
            <br>
            У Rust есть кодекс поведения, который соблюдается потрясающей командой модераторов, поэтому официальные порталы и большинство неофициальных располагают к себе. В оффлайне Rust проводит множество конференций по всему миру, таких как RustConf, Rust Belt Rust, RustFest, Rust Latam, RustCon Asia и другие.
        </p>
    </div>
</div>

<div class="main4">
    <div class="text3">
        <h1>
            <a><strong>Кому подходит Rust?</strong></a>
        </h1>
        <p>
            Rust подходит для многих людей по разным причинам. Приведём несколько самых важных групп.
        </p>
        <br>
        <h2>
            <a>1. Команды разработчиков</a>
        </h2>
        <br>
        <p>
            Rust обеспечивает эффективные средства для совместной работы больших команд разработчиков с различным уровнем знаний системного программирования. Низкоуровневый код подвержен множеству незаметных ошибок, которые в большинстве других языков могут быть найдены только в результате обширного тестирования и тщательного анализа кода опытными разработчиками. В Rust компилятор играет роль привратника, отказываясь компилировать код с этими неуловимыми ошибками, включая ошибки параллелизма. Компилятор позволяет команде разработчиков больше сосредоточить своё внимание на логике, а не терять время на поиски ошибок.
            <br>
            <br>
            Rust также предлагает современные инструменты разработки для системного программирования:
        </p>
        <ul class="links">
            <li><span><em>Cargo, встроенный менеджер зависимостей и инструмент сборки, добавляет, компилирует и управляет зависимостями безболезненно и согласованно, используя экосистему Rust.</em></span></li>
            <li><span><em>Rustfmt обеспечивает согласованный стиль кодирования для всех разработчиков.</em></span></li>
            <li><span><em>Языковой сервер Rust обеспечивает интеграцию с интегрированной средой разработки (IDE) для завершения кода и встроенных сообщений об ошибках.</em></span></li>
        </ul>
        <p>
            Эти и другие инструменты экосистемы Rust обеспечивают разработчикам продуктивность при написании кода системного уровня.
        </p>
        <br>
        <h2>
            <a>2. Студенты</a>
        </h2>
        <br>
        <p>
            Rust полезен для студентов и тех, кто заинтересован в изучении системных концепций. Используя Rust, многие люди узнали о таких темах, как разработка операционных систем. Сообщество радушно и с удовольствием ответит на вопросы начинающих.
            <br>
            <br>
            Команда Rust хочет сделать концепции систем более доступными для большего числа людей, особенно для новичков в программировании.
        </p>
        <br>
        <h2>
            <a>3. Компании</a>
        </h2>
        <br>
        <p>
            Сотни компаний, больших и малых, используют Rust для различных целей. Эти задачи включают в себя инструменты командной строки, веб-сервисы, инструменты DevOps, встраиваемые устройства, анализ и транскодирование аудио и видео, крипто-валюты, биоинформатика, поисковые системы, приложения интернета вещей, машинное обучение и даже основные части браузера Firefox.
        </p>
        <br>
        <h2>
            <a>4. Разработчики Open Source</a>
        </h2>
        <br>
        <p class="end">
            Rust для людей, которые хотят построить язык программирования Rust, сообщество, инструменты разработчика и библиотеки. Мы хотели бы, чтобы вы внесли свой вклад в развитие языка Rust.
        </p>
    </div>
</div>



<div class="main5">
    <div class="text4">
        <h1>
            <a><strong>Что же в итоге?</strong></a>
        </h1>
        <p>
            Как видите, Rust — это не просто очередной системный язык программирования по мотивам Си. На системный язык, обогащенный рядом высокоуровневых концепций, можно смотреть и с другой стороны: как на прикладной язык, снабженный низкоуровневым инструментарием.
            <br>
            <br>
            Полезны ли эти низкоуровневые инструменты в прикладной раработке? Скорее всего, что да. Они позволяют создавать новые эффективные высокоуровневые абстракции, расширяя арсенал разработчика. Дополнительно, наличие средств, которые позволяют изолировать и связывать между собой разные уровни, делают Rust по-настоящему универсальным языком программирования.
            <br>
            <br>
            Качество Rust-кода и удобство его доработки будет напрямую зависеть от того, насколько удачно программист решил проблему инкапсуляции низких уровней относительно высоких в рамках своей задачи. Конечно, тут у Rust еще большой простор для совершенствования, но имеющихся средств уже достаточно, чтобы довольно комфортно вести прикладную, высокоуровневую разработку, а не только решать низкоуровневые системные задачи.
        </p>
    </div>
</div>