<body>
    <main>
        <div class="title-img">
            <img src="../../../assets/404.png">
        </div>
        <div class="title">
            <h1>Page Not Found</h1>
            <p>It seems that the page you were trying to reach
                does not exist anymore, <br> or maybe it has just
                moved. You can start again from the home
            </p>
        </div>
        <div class="not-found-btn">
            <button class="not-found" routerLink="/home">Home</button>
        </div>
    </main>
  </body>